<div class="chatbot-container">
  <!-- Dynamic Text Overlay -->
  <div *ngIf="!isOpen" class="prompt-message">
    {{ currentPromptMessage }}
  </div>

  <!-- Bouton pour ouvrir/fermer le chat -->
  <button (click)="toggleChat()" class="chat-toggle-button">
    <svg *ngIf="!isOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
    </svg>
    <svg *ngIf="isOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>

  <!-- Fenêtre de Chat -->
  <div *ngIf="isOpen" class="chat-window">
    <!-- En-tête -->
    <div class="chat-header">
      <div class="avatar-container">
        <img src="assets/photo.png" alt="Avatar de Danielou" class="avatar">
        <span class="status-indicator"></span>
      </div>
      <div class="header-info">
        <h3 class="font-bold">Danielou M.</h3>
        <p class="text-xs">Online</p>
      </div>
    </div>

    <!-- Corps du Chat (messages) -->
    <div class="chat-body">
      <div *ngFor="let message of messages" class="message-container" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
        <div *ngIf="message.sender === 'bot'" class="avatar-container-small">
           <img src="assets/photo.png" alt="Avatar de Danielou" class="avatar-small">
        </div>
        <div class="message">
          <span [innerHTML]="message.text"></span>
          <!-- Bouton de navigation cliquable -->
          <button *ngIf="message.navigationTarget" (click)="handleNavigationClick(message.navigationTarget)" class="navigation-button">
            Zeigen Sie mir den Abschnitt
          </button>
        </div>
      </div>

      <!-- Typing Indicator -->
      <div *ngIf="showTypingIndicator" class="message-container bot-message">
        <div class="avatar-container-small">
          <img src="assets/photo.png" alt="Avatar de Danielou" class="avatar-small">
        </div>
        <div class="message">
          <span>schreibt...</span>
        </div>
      </div>
    </div>

    <!-- Pied de page (input) -->
    <div class="chat-footer">
      <input type="text" placeholder="Stellen Sie Ihre Frage..." [(ngModel)]="userInput" (keyup.enter)="sendMessage()" class="chat-input">
      <button (click)="sendMessage()" class="send-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
        </svg>
      </button>
    </div>
  </div>
</div>
